.hero__section{
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 720px 790px;
}
@media (max-width:900px){
    .hero__section{
        background-size: 0;
    }
}